@mixin transition($property: all, $duration: 0.45s, $ease: cubic-bezier(0.65,0,.076,1)) {
  transition: $property $duration $ease;
}

//Blogg
.blog-content{
    margin: 7em 10em;
    line-height: 1.5em;

    h1{
        text-align: center;
        color: #3B644C;
        font-family: "Roboto-Regular";
        margin-bottom: 0.8em;
    }

    .about-blog{
        margin: auto;
        width: 80%;
        text-align: center;
        padding-bottom: 1em;
        font-weight: bold;
    }

    article{
        margin: 20px;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        border-radius: 8px;
        padding: 40px;
        .entry-title{
            a{
                text-decoration: none;
                color: #3B644C;
                font-family: "Roboto-Bold";
            }
        }
        .post-date{
            padding: 10px 0;
            font-size: 14px;
        }

        button {
            position: relative;
            display: inline-block;
            cursor: pointer;
            border: 0;
            vertical-align: middle;
            text-decoration: none;
            background: transparent;
            margin-top: 1em;
            &.learn-more {
              width: 12rem;
              height: auto;
              .circle {
                @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
                position: relative;
                display: block;
                margin: 0;
                width: 3rem;
                height: 3rem;
                background: #3B644C;
                border-radius: 1.625rem;
                .icon {
                  @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
                  position: absolute;
                  top: 0;
                  bottom: 0;
                  margin: auto;
                  background: #fff;
                  &.arrow {
                    @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
                    left: 0.625rem;
                    width: 1.125rem;
                    height: 0.125rem;
                    background: none;
                    &::before {
                      position: absolute;
                      content: '';
                      top: -0.25rem;
                      right: 0.0625rem;
                      width: 0.625rem;
                      height: 0.625rem;
                      border-top: 0.125rem solid #fff;
                      border-right: 0.125rem solid #fff;
                      transform: rotate(45deg);
                    }
                  }
                }
              }
              .button-text {
                @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                padding: 0.88rem 0;
                margin: 0 0 0 1.85rem;
                color: #3B644C;
                font-weight: 700;
                line-height: 1.6;
                text-align: center;
                text-transform: uppercase;
              }
            }
            &:hover {
              .circle {
                width: 100%;
                .icon {
                  &.arrow {
                  background: #fff;
                  transform: translate(1rem, 0);
                  }
                }
              }
              .button-text {
                color: #fff;
              }
            }
          }
    }
}

//Blogginlägg
.single-post-content{
    margin: 7em 20em;
    h1{
        color: #3B644C;
        font-family: "Roboto-Regular";
        font-size: 30px;
    }
    .entry-content{
        p{
            padding: 20px 0;
            line-height: 1.5em;
        }
        .wp-block-heading{
            margin-top: 20px;
            font-size: 20px;
            font-family: "Roboto-Bold";
            color: #3B644C;
        }
        ol{
            list-style-position: inside;
            li{
                margin-top: 1em;
            }
        }
        ul{
            list-style-position: inside;
            li{
                margin-top: 5px;
            }
        }
    }

    .post-date{
        font-style: oblique;
        padding: 1em 0 2em;
        border-bottom: 3px solid #3B644C;
    }

    #comments{
        margin: 2em 0 1em;
    }

    .commentlist{
        list-style-type: none;
        padding-bottom: 2em;
        border-bottom: 3px solid #3B644C;
        p{
            margin-top: 5px;
        }
        .comment {
            margin-top: 2em;
            .comment-awaiting-moderation{
                font-size: 12px;
            }
        }

        .comment-meta{
            a{
                text-decoration: none;
                font-size: 12px;
                color: #3B644C;
            }
        }

        .reply{
            margin-top: 8px;
            a{
                color: #3B644C;
                text-decoration: none;
                font-weight: bold;
            }
        }
    }

    .comment-respond{
        padding: 2em 0 1em 0;
        margin: auto;
        width: 50%;
        .logged-in-as{
            text-align: center;
            margin-top: 5px;
            font-size: 12px;
        }
        .comment-reply-title{
            text-align: center;
            font-size: 20px;
            font-family: "Roboto-Bold";
        }
        .comment-notes, 
        .comment-form-cookies-consent{
            margin-top: 5px;
            font-size: 12px;
            text-align: center;
        }
        .comment-form-comment, 
        .comment-form-author,
        .comment-form-email,
        .comment-form-url {
            display: flex;
            flex-direction: column;
            margin: 20px 0;
            font-weight: bold;
            font-size: 15px;
        }
        
        .comment-form-comment label,
        .comment-form-author label,
        .comment-form-email label,
        .comment-form-url label {
            order: -1;
        }

        input, textarea{
            padding: 7px;
            margin: 5px 0;
            border: 1px solid #979797;
            border-radius: 5px;
            -webkit-transition: 0.5s;
            transition: 0.5s;
            outline: none;
            &:focus {
                border: 1px solid #3B644C;
              }
        }

        .form-submit{
            text-align: center;
            margin-top: 2em;
            .submit{
                background-color: #82A2D7;
                border-radius: 8px;
                color: #fff;
                padding: 15px 30px;
                border: none;
                font-family: "Roboto-Medium";
                font-size: 14px;
                &:hover{
                    background-color: #6388C5;
                }
            }
        }

        
    }

}

@media screen and (max-width: 767px) {
    //Blogg
    .blog-content{
        margin: 0 20px;
        padding-top: 5.5em;
        h1{
            font-size: 28px;
            margin-bottom: 0.5em;
        }
        .about-blog{
            margin: auto;
            width: 90%;
            text-align: center;
            padding-bottom: 0.1em;
            font-size: 14px;
        }
    }



    //Blogginlägg
    .single-post-content{
        padding-top: 5.5em;
        margin: 0 2em;
        .comment-respond{
            margin: auto;
            width: 100%;
        }
    }

}
  

  