.woocommerce-cart-form__cart-item{
    font-family: "Roboto-Light";
}

.woocommerce form .quantity input[type="number"]::-webkit-inner-spin-button,
.woocommerce form .quantity input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.product-quantity input[type="number"] {
    width: 50px;
    padding: 5px;
    border: 1px solid #ccc;
    margin: -4px;
}

.product-quantity .minus,
.product-quantity .plus {
    background-color: #00A544;
    color: #fff;
    border: none;
    padding: 6px 15px; 
    cursor: pointer;

    &:hover{    
        background-color: #008537;
    }
}

.product-name{
    a{
        text-decoration: none;
        font-family: "Roboto-Bold";
        color: #3B644C;
    }
}



@media screen and (max-width: 767px) {
    .woocommerce-cart-form__cart-item{
        border-bottom: 1px solid #DBDBDB;
        height: 170px;
        
        .product-name{
            margin-top: -200px;
            max-width: 50%;

            a{
                font-size: 14px;

            }
        }

        .product-subtotal{
            font-family: "Roboto-Bold";
            font-size: 14px;
        }

    }

    .cart-title {
        text-align: center;
        margin: 20px 0;
        font-family: "Roboto-Light";
    }

    .woocommerce table.shop_table_responsive tr td, .woocommerce-page table.shop_table_responsive tr td{
        text-align: left !important;
        margin-left: 160px;
    }



    .woocommerce table.cart .product-thumbnail{
        display: unset;
    }

    .woocommerce a.remove{
        width: auto;
        font-size: 1.5em;
        margin-left: 180px;

        &:hover{
            background-color: white;
            color: red !important;
        }
    }

    .woocommerce table.shop_table td{
        border-top: none;
    }

    .woocommerce table.cart{
        img{
            width: auto;
            height: 135px;
            margin-top: -50px;
            margin-bottom: 30px;
            margin-left: 20px;
            background-color:#F9F6EC;
            display: block;
            border: solid 1px #C2D1D9;
            border-radius: 3px;
        }
    }

    .woocommerce table.shop_table_responsive tr td::before{
        content: none;
    }

    .woocommerce table.shop_table_responsive tr:nth-child(2n) td{
        background-color: transparent;
    }

    
}


