.woocommerce-cart-form__cart-item{
    font-family: "Roboto-Light";
}

button[name="update_cart"] {
    display: none !important;
}

.woocommerce form .quantity input[type="number"]::-webkit-inner-spin-button,
.woocommerce form .quantity input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.product-quantity input[type="number"] {
    width: 50px;
    padding: 5px;
    border: 1px solid #ccc;
    margin: -4px;
}

.product-quantity .minus,
.product-quantity .plus {
    background-color: #00A544;
    color: #fff;
    border: none;
    padding: 6px 15px; 
    cursor: pointer;

    &:hover{    
        background-color: #008537;
    }
}

.product-name{
    a{
        text-decoration: none;
        font-family: "Roboto-Bold";
        color: #3B644C;
    }
}

a.button.alt{
    background-color: #82A2D7 !important;
    width: 90%;

    &:hover{
        background-color: #6388C5 !important;
    }
}

@media screen and (max-width: 767px) {
    .woocommerce table.shop_table{
        border-radius: 0%;
    }
    .woocommerce-cart-form__cart-item{
        border-bottom: 1px solid #DBDBDB;
        height: 185px;

        .product-name{
            margin-top: -200px;
            max-width: 50%;
            &::before{
                display: none;
            }

            a{
                font-size: 14px;
            }
        }

        .product-subtotal{
            font-family: "Roboto-Bold";
            font-size: 14px;
            
            &::before{
                display: none;
            }
        }

        td.product-quantity::before{
            display: none;
        }

    }

    .cart-title {
        border-top: 1px solid #DBDBDB;
        border-bottom: 1px solid #DBDBDB;
        text-align: center;
        padding: 20px 0;
        font-family: "Roboto-Light";
    }

    .woocommerce table.shop_table_responsive tr td, 
    .woocommerce-page table.shop_table_responsive tr td{
        text-align: left !important;
        margin-left: 160px;
    }


    .woocommerce table.cart .product-thumbnail{
        display: unset;
        &::before{
            display: none;
        }
    }

    .woocommerce a.remove{
        width: auto;
        font-size: 2em;
        margin-left: 180px;

        &:hover{
            background-color: white;
            color: red !important;
        }
    }

    .woocommerce table.shop_table td{
        border-top: none;
    }

    .woocommerce table.cart{
        img{
            width: auto;
            height: 135px;
            margin-top: -50px;
            margin-bottom: 30px;
            margin-left: 20px;
            background-color:#F9F6EC;
            display: block;
            border: solid 1px #C2D1D9;
            border-radius: 3px;

        }
    }

    .woocommerce table.shop_table_responsive tr:nth-child(2n) td{
        background-color: transparent;
    }


    .woocommerce table.cart td.actions{
        margin-left: unset;
        margin-top: 5px;
        border-bottom: 1px solid #DBDBDB;

        input{
            padding: 6px;
            border: 1px solid #DBDBDB;
            font-family: "Roboto-Light";
            font-size: 14px;
            margin-left: 5px;
        }

        button{
            background-color:#00A544;
            color: white;
            font-family: "Roboto-Light";
            font-size: 14px;
            border-radius: 0%;
            margin-right: 5px;
        }
    }


    .cart-collaterals .woocommerce table.shop_table_responsive tr td,
    .cart-collaterals table.shop_table_responsive tr td {
        margin-left: inherit !important;
        text-align: right !important;

    }

    .cart-collaterals{
        font-family: "Roboto-Light";
        font-size: 14px;
        padding-top: 20px;

        .cart-subtotal, .woocommerce-shipping-totals, .order-total{
            padding: 0 20px;
        }
    }

    .woocommerce table.shop_table{
        border: none;
        margin: 0;
    }

    .wc-proceed-to-checkout{
        text-align: center;
        padding: 20px 0;
        border-bottom: 1px solid #DBDBDB;
    }

}


