.woocommerce-checkout{
    padding-top: 5em;
    margin: 20px;
    display: flex;
    justify-content: space-around;

    .woocommerce-info::before{
        display: none;
    }

    .col-1{
        width: 50%;
    } 

    #order_review{
        width: 40%;
        margin-top: 20px;
        td.product-name{
            color:#3B644C;
            font-weight: bold;

            .product_image_checkout{
                background-color: #F9F6EC;
                width:100px;
                height: auto;
                border: 1px solid #C2D1D9;
                margin-bottom: 5px;
            }
            .product-quantity{
                color: black;
            }
        }

        #order_review_heading{
            text-align: center;
        }
        .woocommerce-checkout-review-order-table{
            margin-top: 20px;
        }
        img{
            background-color: #F9F6EC;

        }
    }
}

.woocommerce-billing-fields{
    h3{
        text-align: center;
        margin: 20px 0;
    }

    #billing_country{
        padding: 7px;
        margin: 8px 0;
        border: 1px solid #979797;
        border-radius: 5px;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        outline: none;
        &:focus {
            border: 1px solid #3B644C;
          }
    }

    input[type=text] {
    padding: 7px;
    margin: 8px 0;
    border: 1px solid #979797;
    border-radius: 5px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    &:focus {
        border: 1px solid #3B644C;
      }
  }

  input[type=tel] {
    padding: 7px;
    margin: 8px 0;
    border: 1px solid #979797;
    border-radius: 5px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    &:focus {
        border: 1px solid #3B644C;
      }
  }

  input[type=email] {
    padding: 7px;
    margin: 8px 0;
    border: 1px solid #979797;
    border-radius: 5px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    &:focus {
        border: 1px solid #3B644C;
      }
  }
}

.woocommerce-info{
    margin: auto;
    border-top: none;
    position: inherit;
    padding: 12px 0px 0px 0px;
    background-color: transparent;

    .coupon-message-wrapper .fa-angle-down {
        margin-left:60%; 
        font-size: 15px; 
    }

    a{
        color:#3B644C;
    }
}

form.checkout_coupon.woocommerce-form-coupon{
    margin: 5px 0;
    border: none;
    padding: 5px;
    .form-row.form-row-first{
        width: 40%;
        input{
            margin-left: 10px;
            padding: 5px;
            border: 1px solid #DBDBDB;
            font-size: 14px;
            -webkit-transition: 0.5s;
            transition: 0.5s;
            outline: none;
            border-radius: 5px;
            &:focus {
                border: 1px solid #3B644C;
            }
        }
    }
    .form-row.form-row-last{
        width: 60%;
        button{
            margin-top: 0;
            margin-left: 10px;
            background-color:#00A544 !important;
            color: white;
            font-size: 14px;
            border-radius: 5px;
            padding: 7px;
            &:hover{    
                background-color: #008537 !important;
            }
        }
    }
}

@media screen and (max-width: 767px) {
form.checkout.woocommerce-checkout{
    padding-top: 5em;
    margin: unset;
    display: block;
    font-family: "Roboto-Light";

    .col-1{
        width: inherit;
    }

    .woocommerce-billing-fields__field-wrapper{
        border-bottom: 1px solid #DBDBDB;
        padding-bottom: 10px;

        #billing_last_name_field{
            width: 40%;
            margin-right: 20px;

        }

        #billing_first_name_field{
            width: 40%;
            margin-left: 20px;
        }

        #billing_country_field, #billing_address_1_field, #billing_address_2_field, #billing_postcode_field,
        #billing_city_field, #billing_phone_field, #billing_email_field{
            margin: 5px 20px;
        }
    }

    .woocommerce-billing-fields{
        h3{
            text-align: center;
            margin: 20px 0;
        }

        input[type=text] {
        padding: 7px;
        margin: 8px 0;
        border: 1px solid #979797;
        border-radius: 5px;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        outline: none;
        &:focus {
            border: 1px solid #3B644C;
          }
      }

      input[type=tel] {
        padding: 7px;
        margin: 8px 0;
        border: 1px solid #979797;
        border-radius: 5px;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        outline: none;
        &:focus {
            border: 1px solid #3B644C;
          }
      }
    
      input[type=email] {
        padding: 7px;
        margin: 8px 0;
        border: 1px solid #979797;
        border-radius: 5px;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        outline: none;
        &:focus {
            border: 1px solid #3B644C;
          }
      }
    }

      button{
        background-color: #82A2D7 !important;
        width: 90%;
        padding: 15px;
        border-radius: 8px;
        margin-top: 20px;
    
        &:hover{
            background-color: #6388C5 !important;
        }
      }

      .woocommerce-checkout-review-order-table{
        margin: 20px 0;
        font-size: 14px;
        font-weight: 400;


        .order-total{
            font-size: 16px;
            .amount{
                font-weight: bold;
            }
        }

        .amount, .woocommerce-shipping-methods{
            font-weight: 400;
        }


        td.product-total{
            font-size: 14px;
        }
      }

      #order_review{
        padding: 20px;
        width: 100%;
        img{
            width: inherit;
        }
      }

      .woocommerce-info{
        border-top: 2px solid #3B644C;

        .coupon-message-wrapper .fa-angle-down {
            margin-left: 50%; 
        }
      }
}
}